# 告知 .gitignore：图标、构建产物等
# 注意：sub/ 与 app/data/ 由 GitHub Actions 生成并提交回仓库，不能 ignore！
android/app/src/main/assets/
android/.gradle/
android/build/
android/app/build/
*.pyc
__pycache__/
android/app/debug.keystore